<div class="container">
    <h1 class="h1 text-center">Trips</h1>

    <!--PRIVATE DATA-->
    <div ng-show="isAuthenticated">

        <a href="#/trips/create" ng-click="getCities()" class="btn btn-default">Create Trip</a>

        <table class="table">
            <tr>
                <th>
                    Sort
                </th>
                <th>
                    Order
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
            </tr>
            <tr>
                <td>
                    <select>
                        <option>Date</option>
                        <option>Driver</option>
                        <option>Number of seats</option>
                    </select>
                </td>
                <td>
                    <select>
                        <option>Ascending</option>
                        <option>Descending</option>
                    </select>
                </td>
                <td>
                    <select ng-model="filterRoute.from">
                        <option  ng-repeat="city in cities">{{city}}</option>
                    </select>
                </td>
                <td>
                    <select ng-model="filterRoute.to" >
                        <option  ng-repeat="city in cities">{{city}}</option>
                    </select>
                </td>
            </tr>
        </table>

        <button ng-click="filter()" class="btn btn-sm">Filter</button>

        <button ng-click="prevPage()" class="btn btn-sm">Prev</button>
        <input type="text"  ng-model="tripsPage" class="input-sm"/>
        <button ng-click="nextPage()" class="btn btn-sm">Next</button>

        <table class="table">
            <tr>
                <th>Driver</th>
                <th>From</th>
                <th>To</th>
                <th>Depature Time</th>
                <th>Is Mine</th>
            </tr>
            <tr ng-repeat="trip in privateTripsData | orderBy : 'departureDate':true">
                <td>
                    <a href="#/drivers/{{trip.driverId}}"> {{trip.driverName}} </a>
                </td>
                <td>{{trip.from}}</td>
                <td>{{trip.to}}</td>
                <td> <a href="#/trips/{{trip.id}}"> {{trip.departureDate}}</a></td>
                <td>{{trip.isMine}}</td>
            </tr>
        </table>

    </div>


    <!--PUBLIC DATA-->
    <div ng-hide="isAuthenticated" id="latest-trips">
        <table class="table">
            <tr>
                <th>Driver</th>
                <th>From</th>
                <th>To</th>
                <th>Depature Time</th>
            </tr>
            <tr ng-repeat="trip in publicTrips | orderBy : 'departureDate':true ">
                <td>{{trip.driverName}}</td>
                <td>{{trip.from}}</td>
                <td>{{trip.to}}</td>
                <td>{{trip.departureDate}}</td>
            </tr>
        </table>
    </div>



</div>